<!doctype html>
<html >
  <head>
    <title>MuleSoft Interview</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href='/css/main.css'></link>
  </head>
  <body ng-app='myApp' ng-cloak>
    <div class='navbar navbar-default'>
      <div class='container-fluid'>
        <ul class='nav navbar-nav'>
          <li class='logo'><a href="#"><span>Map</span>Matcher</a></li>
          <li class='active'><a href="#">Home</a></li>
        </ul>
      </div>
    </div>
    <div class='container'>

      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>          
          <address-form></address-form>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <map></map>
        </div>
      </div>
    </div>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEHVV1YcvYj_XmVyccKpGi6Hfyutdq_c">
    </script>
    <script type="text/javascript", src="/js/app.js"></script>
  </body>
</html>